<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/users/create" method="post">
    Name:<input type="text" name="name"><br>
    Email:<input type="email" name="email"><br>
    Password:<input type="text" value="<%= password %>" name="password"><br>
    Phone:<input type="tel" name="phone"><br>
    Department:<select name="dept" id=""><br>
     <% data.forEach((val)=> { %>
      <option value="<%= val.name %>"><%= val.name %></option>
     <% }) %>
    </select><br>
    Role<select name="role" id=""><br>
        <option value="student">Student</option>
        <option value="professor">Professor</option>
        <option value="hod">HOD</option>
    </select><br>
    <button type="submit">Add User</button>
   </form>
</body>
</html>