<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div style="display: flex;" gap="10px">
    <div>
        <h3>DashBoard</h3>
        <h3><a href="/professor/assignmentsReview">Assignments</a></h3>
    </div>
    <div style="display: flex; gap: 10px;">
        <div>
            <h2>Pending review</h2>
            <p></p>
        </div>
        <div>
            <h2>Total Submitted</h2>
            <p></p>
        </div>
        <div>
            <h2>Already Approved</h2>
            <p></p>
        </div>
    </div>
   </div>
   
</body>
</html>