<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/assignments/uploadAssignments" method="post" enctype="multipart/form-data">
        Title:<input type="text" name="title"><br>
        Description:<input type="text" name="description"><br>
        File:<input type="file" name="file"><br>
        Category:<select name="category" id="">
            <option value="Assignment">Assignment</option>
            <option value="Thesis">Thesis</option>
            <option value="Report">Report</option>
        </select><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>