<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= data.title %></h1>
    <h3>Description:<%= data.description %></h3>
    <p>file: <a href="https://res.cloudinary.com/dxd8s94us/raw/upload/fl_attachment:assignment.pdf/v1764059846/Assignments/htqghzvmdktkmkplxta8.pdf">File</a></p>
    <h5>Current Status:<%= data.status %></h5>
</body>
</html>